<?xml version="1.0" encoding="UTF-8"?>
<model>
  <name>dual_table</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <author>
    <name>Mitsuhiro Sakamoto</name>
    <email>mitukou1109@gmail.com</email>
  </author>
  <description>Dual Table for Kosen Robocon 2018</description>
</model>