<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="config_dir" value="$(find tsuten_simulation)/config" />

  <param name="use_sim_time" value="true" />
  <param name="localization_helper/publish_odom_tf" value="false" />

  <include file="$(find tsuten_simulation)/launch/gazebo.launch" />

  <include file="$(find tsuten_behavior)/launch/main.launch" pass_all_args="true" />
</launch>