<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="config_dir" value="$(find tsuten_simulation)/config" />
  <arg name="wheel_radius" value="30.6e-3" />
  <arg name="wheel_vels_topic" value="wheel_joint_velocity_controller/command" />

  <include file="$(find tsuten_simulation)/launch/gazebo.launch" />

  <include file="$(find tsuten_navigation)/launch/main.launch" pass_all_args="true" />
</launch>